::-webkit-scrollbar{
  background: #f8ecb7;
  width: 6px;
}

::-webkit-scrollbar-thumb{
  background: #420505;
  border-radius: 5px;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;
    background-color: #f8ecb7;
}

section{
    min-height: 100vh;
    width: 100vw;
    position: relative;

}

nav{
    width: 100wh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8ecb7;
    position: relative;
    padding: 15px;
  
}

nav h2{
    color: #420505;
    flex: 1;
    font-size: 35px;

}

nav ul{
    list-style: none;
    flex: 2;
    display: flex;
    justify-content: space-evenly;

}

nav ul li a{
    text-decoration: none;
    padding-bottom: 5px;
    color: #420505;
    width: 70px;
}

nav ul li a:hover {
  color: #fff;

}


/* home section */

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
  }
  
  .content {
    opacity: 0;
    transform: translateY(20px);
    animation: fade-in 1s ease-in-out forwards;
  }
  
  .text1 {
    font-size: 26px;
    color: #420505;
  }
  
  .my-name {
    font-size: 45px;
    font-weight: bold;
    margin: 10px 0;
    color: #420505;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  .text2 {
    font-size: 24px;
    color: #420505;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  }

  .scroll-btn {
    padding: 10px 20px;
    margin-top: 20px;
    margin: 30px 120px;
    background-color: #420505;
    border-radius: 9px;
  }

  .scroll-btn a {
    text-decoration: none;
    color: #f8ecb7;
  }
  



/* about section */

.about-section {
  display: flex;
  justify-content: center;
}

.about {
  width: 90vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
}

.about-section .container {
  width: 350px;
  position: relative;
}

.about-section .container h2 {
  font-size: 40px;
  margin: 20px 10px;
  color: #420505;
}

.about-section .container p {
  font-size: 19px;
  color: #2e2222;
  line-height: 1.5;
  text-align: center;
}

.about-section .image-container {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 170px;

}

.my-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


/* skill section  */

.skills {
  text-align: center;
  margin: 50px auto;
}

.skills-title h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #420505;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: inline-flex;
}

.skill {
  width: 250px;
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.skill-name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #422605;
}

.skill-progress {
  background-color: #e0e0e0;
  border-radius: 5px;
  height: 20px;
  position: relative;
}

.skill-progress-bar {
  background-color: #420505;
  border-radius: 5px;
  height: 100%;
  width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: width 1s ease-in-out;
}

.skill-progress-label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 16px;
  color: rgb(179, 178, 176);
}

.skill:hover .skill-progress-bar {
  width: calc(var(--percent) * 1%);
}



/* works section */

.works {
  background-color: #f8ecb7;
}


.works-title h2{
  background-color: #f8ecb7;
  color: #420505;
  padding: 19px;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

.cards {
  display: flex;
  justify-content: space-around;
  padding: 30px 0 30px 0px;
}

.cards .card-one{
  width: 300px;
  height: 350px;
  border-radius: 18px;
  background-color: #f8f7f2;
  color: #420505;
}

.cards .card-one .card-one-content {
  display: none;
  background-color: #f8f7f2;


}

.cards .card-one img {
  position: absolute;
  height: 200px;
  width: 200px;
  margin: 30px 40px 0 30px;
  border-radius: 10px;
}


/* contact section  */


.contact-section {
  background-color: #ffffff;
  width: 100%;
}

.contact-title {
  background-color: #420505;
  color: #fff;
  text-align: center;
  padding: 20px;  
  font-size: 24px;
  width: 100%; 
  margin-bottom: 40px;                                                  
}

.contact-container {
  background-color: #ffffff;
  width: 450px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.contact-container .message {
  display: flex;
  justify-content: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 18px;
}

input, textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  margin-top: 9px;
}

textarea {
  height: 120px;
}

button {
  padding: 10px 20px;
  background-color: rgb(59, 0, 0);
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 16px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #f8ecb7;
  color: black;
}


/* footer section  */

.footer {
  background-color: #f9f9f9;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer p {
  margin-bottom: 10px;
}
.social-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-links li {
  margin-right: 10px;
  margin-bottom: 10px;
}

.social-links a {
  color: #333;
}

.social-links a :hover {
  color: #f8ecb7;
}

.footer-links {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-links li {
  margin-right: 10px;
}

.footer-links li:last-child {
  margin-right: 0;
}

.footer-links a {
  color: #333;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #e7d47f;
}



